#navigation {
	width: 75%;
	margin: 0;
	height: 55px;
	overflow: hidden;
	float: left;
	background-color: $light-blue;
	border-top: 1px solid lighten($light-blue, 15%);
	border-bottom: 1px solid darken($dark-blue, 70%);

	& > .menu  {
		//display: none;
		width: 77%;
		float: right;
		margin: 12px 0 15px;

		li {
			float: left;
			margin: 0 percentage(3px / 651px) 0 0;

			a {
				@include thin-font-headline(24pt, #fff);
				display: block;
				padding: 0;
				line-height: 1;
				margin: 0 25px 0 0;
				
				&:hover {
					color: $hero-3;
				}
			}
		}
	}
}