.page-template-blog-php {
	#wrapper-blog #blog {
		.post {
			.img {
				float: left;
				background: #333;
				width: 29%;
				height: 150px;

				img {
					width: 100%;	
					height: 100%;
					display: block;
					max-height: 180px;
					//min-height: 150px;
				}
			}
			.content {
				float: right;
				width: 70%;
			}
		}
	}
}