.home {
	
	#hero{
		height: 200px;
		margin: 0 0 5px 0;
		box-shadow: 1px 0px 3px darken($dark-blue, 70%);

		aside{
			position: relative;
			width: percentage(293px / 1276px);
			height: 140px;
			padding-top: 60px;
			float: left;
			text-align: center;
			line-height: 1;
			opacity: .9;
			background-color: rgba($hero-aside, 1);
			@include thin-font-headline(30pt, #fff);
			text-shadow: 1px 1px 1px #000;

			span { 
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		}
		& > ul{
			float: right; 
			width: 77%;
			height: 200px;

			li {
				float: left;
				height: 200px;
				position: relative;
				& > a {
					text-align: center;
					line-height: 4.1;
					display: block;
					z-index: 10;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					@include thin-font-headline(30pt, #fff);
				}
				p {
					position: relative;
					z-index: 9;
					margin: 7px 5px;

					a {
						color: #EEE;
						text-shadow: 1px 1px 1px #555;
						font-size: 12pt;
						line-height: 1.1;
						text-align: left;
						font-weight: bold;
						font-family: 'helvetica', 'arial', 'sans-serif';

						&:hover {
							color: #fff;
							text-shadow: 1px 1px 1px #000;
						}
					}
				}
				span {
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					height: 100%;
					width: 100%;
				}
			}
			& >li:nth-child(1){

				width: percentage(355px / 980px);
				@include img("hero.jpg", -297px 0px);

				& >  a{
					background-color: $hero-1;
					@include img('book.png', center 65%);
				}
				span{
					background-color: rgba($hero-1, .7);
				}
			}
			& >li:nth-child(2){
				width: percentage(311px / 980px);
				@include img("hero.jpg", -649px 0px);

				& > a{
					background-color: $hero-4;
				}
				span{
					background-color: rgba($hero-4, .7);
				}
			}
			& > li:nth-child(3){
				width: percentage(314px / 980px);
				@include img("hero.jpg", -960px 0px);

				& > a{
					background-color: $hero-3;
					@include img('musings.png', center 65%);
				}
				span{
					background-color: rgba($hero-3, .7);
				}
			}
		}
	}
	#tweets{
		margin: 0 0 5px 0;
		$tweet-border-size: 2px;
		min-height: 88px; 
		overflow: hidden;
		
		div {
			float: left;
			&.left {
				min-height: 80px;
				width: 11.2%;
				padding: 8px 0 3px percentage(115px / 960px);
				margin: 0;
				background-color: $twitter-cta;
				@include thin-font-headline(12pt, #fff);
				@include img('tweets-bg-white.png', 1% 3px);

				p {
					text-align: left;
					line-height: 1;
					font-size: 20pt;
					&.headline {
						font-size: 12pt;
						margin: 0;
						padding: 0;
					}
					a {
						color: #fff;
						&:hover{
							color: $hero-3;
						}
					}
				}
			}
			&.right {
				@include thin-font-headline(25pt, #fff);
				background-color: $tweet-blue;
				width: 71.7%;
				overflow: hidden;
				margin: 0 0 0 1%;
				min-height: 80px;
				padding: 5px 2%;

				p {
					line-height: 1;
				}
				#twitter-widget-0, iframe {
					display: none;

					&.fw {
						height: 75px;
						overflow: hidden;
					}
				}

			}
		}
	}
}
#wrapper-home, #wrapper-blog {
	width: 100%;
	margin: 0 auto;

	& > aside, #blog-home {
		margin: 0px auto 5px;
		float: left;
	}
	#blog-home {
		margin-left: 1%;
	}
	& > aside {
		width: 23%;

		h2 {
			padding: 7px 4px;
			background-color: $light-blue;
			color: #FFF;
			text-transform: uppercase;
			font-size: 22pt;
			margin: 0 0 5px 0;
			height: 46px;
		}

		span:nth-child(1){
			display: block;
			padding: 0 0 0 4px;
			margin: 0 0 -2px 0;
			font-size: 9pt;
			color: $dark-blue;
			text-transform: none;
		}
		span.brace {
			font-size: 24pt;
		}
		& > ul {
			
			li {
				margin: 0 0 5px 0;
				width: 100%;
				background: #fff;
				text-align: center;
				min-height: 103px;

				img {
					display: block;
					width: 100%;
					max-width: 295px;
				}
				&:nth-child(2){
					//padding: 18px 0 0 0;
				}
			}
		}
	}
	#blog-home, #blog{
		width: 76%;
		//margin-left: 1%;

		article {
			background-color: #fff;
			padding: 5px;
			margin: 0 auto 5px;
			min-height: 78px;

			&.post {
					
				h1 {
					background-color: $dark-blue;
					padding: 10px 12px;
					color: #FFF;
					font-size: 26pt;
					margin: 0 0 5px 0;
					a { color: #fff; }
					a:hover { color: saturate($hero-3, 100%); }
				}
			}
		}
	}
	#blog article.post h1 {
		background-color: #fff;
		padding: 0;
		margin: 0 0 2px 0;
		font-weight: bold;
		font-size: 20pt;
		a { color: $dark-blue; }
	}
	#blog {
		width: 100%;
	}
}