//Fix some light font bugs
@media all and (max-width: 1270px){
  body { /* background: blue; */ }
  #navigation { height: auto; }
  .blog {

		#hero {
			
			aside {
				line-height: 1.1;
				h2 {
					padding: 0px 0 0 0;
				}
			}
	@import 'single'	};
		#tweets div.left p {
			font-size: 16pt;
		}
   }
}

//improve the layout
@media all and (max-width: 875px){
  header { height: 132px; }
  .blog {
		#hero {
			height: auto;

			aside {
				float: none;
				line-height: 1;
				width: 100%;
				height: 40px;
				padding: 25px 0;

				h2 {
					padding: 0;
				}
			}
			ul {
				width: 100%;
				height: auto;
				float: none;
				
				li {
					width: 100%;
					height: 100px;
					float: none;
					display: block;

					&:nth-child(1), &:nth-child(2), &:nth-child(3){
						width: 100%;

						a {
							background-position: center 88%;
						}
					}

					a {
						line-height: 1.9;
					}
				}
			}
		}
   }

   .blog #tweets {
		div.left {
			width: 62%;
			margin: 0 0 0 13%;
			p {
				line-height: 1;
			}

		}
	}
}

//ipad / tablet
@media all and (max-width: 768px){
  body { /* background: red; */ }
  #wrapper { position: relative; }
  header {
  	height: 132px;

  	#navigation {
	float: none;
	width: 100%;
	position: absolute;
	top: 40px;	
  	}
  	h1 {
  		position: absolute;
		top: 0;
		float: left;
		width: 100%;
  	}
  }
  .blog {
	  #tweets {
	  	height: auto;
	   	overflow: visible;
		div.left, div.right {
			float: none;
			margin: 0 0 5px 0;
		}
		& div.left {
			padding: 9px 0 20px 28%;
			width: 72%;
		}
		& div.right {
			width: 96%;
		}
	  }
  }

  #wrapper-home {
	width: 100%;
	margin: 0 0 5px 0;

  	aside {
  		width: 100%;
  		float: none;
		overflow: hidden;

  		ul {

  			li {
			margin: 0 1% 0 0;
			height: auto;
			width: 30%;
			float: left;
			text-align: center;
  				img {
  					max-width: 100%;
  				}

  				&:nth-child(2) {
					height: 80px;
					background: #FFF;
					padding: 65px 19px 42px;
  				}
  				&:nth-child(3){
					margin-right: 0;
  				}
  			}
  		}
  	}

  	#blog-home {
  		width: 100%;
  		margin: 0 auto;
  		float: none;
  	}
  }
}

//In between sizing
@media all and (max-width: 570px){
	header {
		height: 165px;
	}
}

//iPhone landscape
@media all and (max-width: 480px){
  body {
    background: yellow;
  }
}

//mobile phone
@media all and (max-width: 320px){
  body {
    background: yellow;
  }
}
