/*-- Mixin --------------------------------------------------------------------------------*/
//Fonts
@mixin thin-font-headline($font-size, $color){
	color: $color;
	font-size: $font-size;
	font-family: 'Open Sans Condensed', sans-serif;
}

//Utilities
@mixin img($img-name, $bp){
	background-image: url($img-path + $img-name);
	background-repeat: no-repeat; 
	background-position: $bp;
}
@mixin border-radius($radius){
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
}

@mixin text-shadow($x-offset, $y-offset, $blur, $color){
	text-shadow: $x-offset $y-offset $blur $color;
	-webkit-text-shadow: $x-offset $y-offset $blur $color;
	-moz-text-shadow: $x-offset $y-offset $blur $color;
	-ms-text-shadow: $x-offset $y-offset $blur $color;
}
@mixin gradient($top-color, $bottom-color){
	background-color: $top-color;
	background-image: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color));
	background-image: -webkit-linear-gradient(top, $top-color, $bottom-color);
	background-image: -moz-linear-gradient(top, $top-color, $bottom-color);
	background-image: -o-linear-gradient(top, $top-color, $bottom-color);
	background-image: -ms-linear-gradient(top, $top-color, $bottom-color);
	background-image: linear-gradient(top, $top-color, $bottom-color);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$top-color', EndColorStr='$bottom-color');
}