@import url("reset.css");
/*-- Mixin --------------------------------------------------------------------------------*/
/*-- Globals --------------------------------------------------------------------------------*/
body {
  background-color: #111159; }

#wrapper {
  width: 100%;
  max-width: 75.29412%;
  margin: 40px auto 7px; }

#body, #blog, #sidebar {
  padding: 23px 10px;
  box-sizing: border-box; }

#sidebar {
  width: 24%;
  min-height: 400px;
  float: right;
  background: #fff;
  border-radius: 0 7px 7px 0; }
  #sidebar #search #s, #sidebar #search #submit {
    margin: 0;
    padding: 5px 2px;
    float: left;
    font-size: 10pt; }
  #sidebar #search #s {
    width: 68%;
    border: 1px solid #999;
    margin-right: 5px; }
  #sidebar #search #submit {
    width: 25%;
    padding: 5px 2px 6px;
    color: #fff;
    background-color: #012b42;
    border: 1px solid #000a10; }

#navigation-footer {
  display: block;
  margin: 0 auto 40px;
  width: 50%; }
  #navigation-footer li {
    float: left;
    margin: 0 2% 0 0; }
    #navigation-footer li a {
      color: #3789d8; }

/*-- Header --------------------------------------------------------------------------------*/
header {
  padding: 0;
  margin: 0 0 5px 0;
  position: relative;
  z-index: 20; }
  header h1 {
    font-size: 20pt;
    margin: 0 0 0 5px;
    color: #fff;
    width: 24%;
    float: right; }

/*-- Nav Menu --------------------------------------------------------------------------------*/
/*-- Page Specific Styles ------------------------------------------------------------*/
.home #hero {
  height: 200px;
  margin: 0 0 5px 0;
  box-shadow: 1px 0px 3px black; }
  .home #hero aside {
    position: relative;
    width: 22.96238%;
    height: 140px;
    padding-top: 60px;
    float: left;
    text-align: center;
    line-height: 1;
    opacity: .9;
    background-color: #6a4aa6;
    color: white;
    font-size: 30pt;
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 1px 1px 1px #000; }
    .home #hero aside span {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden; }
  .home #hero > ul {
    float: right;
    width: 77%;
    height: 200px; }
    .home #hero > ul li {
      float: left;
      height: 200px;
      position: relative; }
      .home #hero > ul li > a {
        text-align: center;
        line-height: 4.1;
        display: block;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: white;
        font-size: 30pt;
        font-family: 'Open Sans Condensed', sans-serif; }
      .home #hero > ul li p {
        position: relative;
        z-index: 9;
        margin: 7px 5px; }
        .home #hero > ul li p a {
          color: #EEE;
          text-shadow: 1px 1px 1px #555;
          font-size: 12pt;
          line-height: 1.1;
          text-align: left;
          font-weight: bold;
          font-family: 'helvetica', 'arial', 'sans-serif'; }
          .home #hero > ul li p a:hover {
            color: #fff;
            text-shadow: 1px 1px 1px #000; }
      .home #hero > ul li span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%; }
    .home #hero > ul > li:nth-child(1) {
      width: 36.22449%;
      background-image: url("../img/hero.jpg");
      background-repeat: no-repeat;
      background-position: -297px 0px; }
      .home #hero > ul > li:nth-child(1) > a {
        background-color: #00ab02;
        background-image: url("../img/book.png");
        background-repeat: no-repeat;
        background-position: center 65%; }
      .home #hero > ul > li:nth-child(1) span {
        background-color: rgba(0, 171, 2, 0.7); }
    .home #hero > ul > li:nth-child(2) {
      width: 31.73469%;
      background-image: url("../img/hero.jpg");
      background-repeat: no-repeat;
      background-position: -649px 0px; }
      .home #hero > ul > li:nth-child(2) > a {
        background-color: #b61441; }
      .home #hero > ul > li:nth-child(2) span {
        background-color: rgba(182, 20, 65, 0.7); }
    .home #hero > ul > li:nth-child(3) {
      width: 32.04082%;
      background-image: url("../img/hero.jpg");
      background-repeat: no-repeat;
      background-position: -960px 0px; }
      .home #hero > ul > li:nth-child(3) > a {
        background-color: #ff5f2e;
        background-image: url("../img/musings.png");
        background-repeat: no-repeat;
        background-position: center 65%; }
      .home #hero > ul > li:nth-child(3) span {
        background-color: rgba(255, 95, 46, 0.7); }
.home #tweets {
  margin: 0 0 5px 0;
  min-height: 88px;
  overflow: hidden; }
  .home #tweets div {
    float: left; }
    .home #tweets div.left {
      min-height: 80px;
      width: 11.2%;
      padding: 8px 0 3px 11.97917%;
      margin: 0;
      background-color: #a1009e;
      color: white;
      font-size: 12pt;
      font-family: 'Open Sans Condensed', sans-serif;
      background-image: url("../img/tweets-bg-white.png");
      background-repeat: no-repeat;
      background-position: 1% 3px; }
      .home #tweets div.left p {
        text-align: left;
        line-height: 1;
        font-size: 20pt; }
        .home #tweets div.left p.headline {
          font-size: 12pt;
          margin: 0;
          padding: 0; }
        .home #tweets div.left p a {
          color: #fff; }
          .home #tweets div.left p a:hover {
            color: #ff5f2e; }
    .home #tweets div.right {
      color: white;
      font-size: 25pt;
      font-family: 'Open Sans Condensed', sans-serif;
      background-color: #00ccc9;
      width: 71.7%;
      margin: 0 0 0 1%;
      min-height: 80px;
      padding: 5px 2%; }
      .home #tweets div.right p {
        line-height: 1; }

#wrapper-home, #wrapper-blog {
  width: 99%;
  margin: 0 auto; }
  #wrapper-home > aside, #wrapper-home #blog-home, #wrapper-blog > aside, #wrapper-blog #blog-home {
    margin: 0px auto 5px;
    float: left; }
  #wrapper-home > aside, #wrapper-blog > aside {
    width: 23%; }
    #wrapper-home > aside h2, #wrapper-blog > aside h2 {
      padding: 7px 4px;
      background-color: #3789d8;
      color: #FFF;
      text-transform: uppercase;
      font-size: 22pt;
      margin: 0 0 5px 0;
      height: 46px; }
    #wrapper-home > aside span:nth-child(1), #wrapper-blog > aside span:nth-child(1) {
      display: block;
      padding: 0 0 0 4px;
      margin: 0 0 -2px 0;
      font-size: 9pt;
      color: #012b42;
      text-transform: none; }
    #wrapper-home > aside span.brace, #wrapper-blog > aside span.brace {
      font-size: 24pt; }
    #wrapper-home > aside > ul li, #wrapper-blog > aside > ul li {
      margin: 0 0 5px 0;
      height: 275px;
      width: 100%;
      background: #fff;
      text-align: center;
      min-height: 80px; }
      #wrapper-home > aside > ul li img, #wrapper-blog > aside > ul li img {
        display: block;
        width: 100%;
        max-width: 295px; }
  #wrapper-home #blog-home, #wrapper-home #blog, #wrapper-blog #blog-home, #wrapper-blog #blog {
    width: 76%;
    margin-left: 1%; }
    #wrapper-home #blog-home article, #wrapper-home #blog article, #wrapper-blog #blog-home article, #wrapper-blog #blog article {
      background-color: #fff;
      padding: 5px;
      margin: 0 auto 5px;
      min-height: 78px; }
      #wrapper-home #blog-home article.post h1, #wrapper-home #blog article.post h1, #wrapper-blog #blog-home article.post h1, #wrapper-blog #blog article.post h1 {
        background-color: #012b42;
        padding: 10px 12px;
        color: #FFF;
        font-size: 26pt;
        margin: 0 0 5px 0; }
        #wrapper-home #blog-home article.post h1 a, #wrapper-home #blog article.post h1 a, #wrapper-blog #blog-home article.post h1 a, #wrapper-blog #blog article.post h1 a {
          color: #fff; }
        #wrapper-home #blog-home article.post h1 a:hover, #wrapper-home #blog article.post h1 a:hover, #wrapper-blog #blog-home article.post h1 a:hover, #wrapper-blog #blog article.post h1 a:hover {
          color: #ff5f2e; }
  #wrapper-home #blog article.post h1, #wrapper-blog #blog article.post h1 {
    background-color: #fff;
    padding: 0;
    margin: 0 0 2px 0;
    font-weight: bold;
    font-size: 20pt; }
    #wrapper-home #blog article.post h1 a, #wrapper-blog #blog article.post h1 a {
      color: #012b42; }
  #wrapper-home #blog, #wrapper-blog #blog {
    width: 99%; }

#wrapper-single, #wrapper-page, #wrapper-blog {
  width: 75%;
  float: left;
  margin-right: 5px; }
  #wrapper-single #body, #wrapper-single #blog, #wrapper-page #body, #wrapper-page #blog, #wrapper-blog #body, #wrapper-blog #blog {
    background: #fff;
    min-height: 400px;
    border-radius: 0 0 0px 7px; }
    #wrapper-single #body #single-header h1#title, #wrapper-single #body #blog-header h1#title, #wrapper-single #blog #single-header h1#title, #wrapper-single #blog #blog-header h1#title, #wrapper-page #body #single-header h1#title, #wrapper-page #body #blog-header h1#title, #wrapper-page #blog #single-header h1#title, #wrapper-page #blog #blog-header h1#title, #wrapper-blog #body #single-header h1#title, #wrapper-blog #body #blog-header h1#title, #wrapper-blog #blog #single-header h1#title, #wrapper-blog #blog #blog-header h1#title {
      color: #333333;
      font-size: 24pt;
      font-family: 'Open Sans Condensed', sans-serif;
      margin: 0 0 5px 0; }
    #wrapper-single #body #single-header #banner img, #wrapper-single #body #blog-header #banner img, #wrapper-single #blog #single-header #banner img, #wrapper-single #blog #blog-header #banner img, #wrapper-page #body #single-header #banner img, #wrapper-page #body #blog-header #banner img, #wrapper-page #blog #single-header #banner img, #wrapper-page #blog #blog-header #banner img, #wrapper-blog #body #single-header #banner img, #wrapper-blog #body #blog-header #banner img, #wrapper-blog #blog #single-header #banner img, #wrapper-blog #blog #blog-header #banner img {
      max-width: 100%; }
    #wrapper-single #body #single-header .meta, #wrapper-single #body #blog-header .meta, #wrapper-single #blog #single-header .meta, #wrapper-single #blog #blog-header .meta, #wrapper-page #body #single-header .meta, #wrapper-page #body #blog-header .meta, #wrapper-page #blog #single-header .meta, #wrapper-page #blog #blog-header .meta, #wrapper-blog #body #single-header .meta, #wrapper-blog #body #blog-header .meta, #wrapper-blog #blog #single-header .meta, #wrapper-blog #blog #blog-header .meta {
      border: 1px solid #000a10;
      color: #eee;
      margin: 15px 0 25px;
      padding: 3px 4px 1px;
      background: #012b42;
      height: 24px;
      overflow: hidden;
      max-width: 92%;
      line-height: 1.5; }
      #wrapper-single #body #single-header .meta a, #wrapper-single #body #blog-header .meta a, #wrapper-single #blog #single-header .meta a, #wrapper-single #blog #blog-header .meta a, #wrapper-page #body #single-header .meta a, #wrapper-page #body #blog-header .meta a, #wrapper-page #blog #single-header .meta a, #wrapper-page #blog #blog-header .meta a, #wrapper-blog #body #single-header .meta a, #wrapper-blog #body #blog-header .meta a, #wrapper-blog #blog #single-header .meta a, #wrapper-blog #blog #blog-header .meta a {
        color: #3789d8; }
      #wrapper-single #body #single-header .meta iframe, #wrapper-single #body #blog-header .meta iframe, #wrapper-single #blog #single-header .meta iframe, #wrapper-single #blog #blog-header .meta iframe, #wrapper-page #body #single-header .meta iframe, #wrapper-page #body #blog-header .meta iframe, #wrapper-page #blog #single-header .meta iframe, #wrapper-page #blog #blog-header .meta iframe, #wrapper-blog #body #single-header .meta iframe, #wrapper-blog #body #blog-header .meta iframe, #wrapper-blog #blog #single-header .meta iframe, #wrapper-blog #blog #blog-header .meta iframe {
        float: right;
        margin-top: 1px; }
        #wrapper-single #body #single-header .meta iframe #widget, #wrapper-single #body #blog-header .meta iframe #widget, #wrapper-single #blog #single-header .meta iframe #widget, #wrapper-single #blog #blog-header .meta iframe #widget, #wrapper-page #body #single-header .meta iframe #widget, #wrapper-page #body #blog-header .meta iframe #widget, #wrapper-page #blog #single-header .meta iframe #widget, #wrapper-page #blog #blog-header .meta iframe #widget, #wrapper-blog #body #single-header .meta iframe #widget, #wrapper-blog #body #blog-header .meta iframe #widget, #wrapper-blog #blog #single-header .meta iframe #widget, #wrapper-blog #blog #blog-header .meta iframe #widget {
          float: right; }
    #wrapper-single #body p, #wrapper-single #blog p, #wrapper-page #body p, #wrapper-page #blog p, #wrapper-blog #body p, #wrapper-blog #blog p {
      margin: 0 auto 15px; }
    #wrapper-single #body .content, #wrapper-single #blog .content, #wrapper-page #body .content, #wrapper-page #blog .content, #wrapper-blog #body .content, #wrapper-blog #blog .content {
      width: 95%;
      margin: 0 0 0 0; }

#wrapper-single {
  padding: 0; }

.page-template-blog-php #wrapper-blog #blog .post h1 {
  font-size: 17pt;
  height: 50px; }
.page-template-blog-php #wrapper-blog #blog .post .excerpt {
  font-size: 15px;
  margin: 0;
  padding: 0; }
.page-template-blog-php #wrapper-blog #blog .post .img {
  float: left;
  width: 29%;
  height: 150px;
  overflow: hidden;
  color: #333333;
  font-size: 85pt;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-align: center; }
  .page-template-blog-php #wrapper-blog #blog .post .img h2 {
    letter-spacing: -12px;
    margin: -9px 0 -6px 0; }
  .page-template-blog-php #wrapper-blog #blog .post .img span {
    letter-spacing: -12px;
    color: #012b42;
    font-size: 85pt;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold; }
  .page-template-blog-php #wrapper-blog #blog .post .img p.subtitle {
    font-family: 'helvetica', arial, sans-serif;
    text-align: center;
    font-size: 9pt;
    font-weight: normal; }
  .page-template-blog-php #wrapper-blog #blog .post .img .frame {
    background: #EEE;
    padding: 5px 0;
    border-radius: 7px;
    border: 1px solid #999;
    box-shadow: 0px 0px 8px #CCC; }
  .page-template-blog-php #wrapper-blog #blog .post .img img {
    width: 100%;
    height: 100%;
    display: block;
    max-height: 180px; }
.page-template-blog-php #wrapper-blog #blog .post .content {
  float: right;
  width: 70%; }
  .page-template-blog-php #wrapper-blog #blog .post .content .meta {
    border: 1px solid #000a10;
    color: #eee;
    margin: 15px 0 25px;
    padding: 3px 4px 1px;
    background: #012b42;
    height: 24px;
    overflow: hidden;
    max-width: 92%;
    line-height: 1.5; }
    .page-template-blog-php #wrapper-blog #blog .post .content .meta a {
      color: #3789d8; }
    .page-template-blog-php #wrapper-blog #blog .post .content .meta iframe {
      float: right;
      margin-top: 1px; }
      .page-template-blog-php #wrapper-blog #blog .post .content .meta iframe #widget {
        float: right; }
  .page-template-blog-php #wrapper-blog #blog .post .content .meta {
    margin: 10px 0 25px; }

/*-- Media Queries -------------------------------------------------------------------*/
@media all and (max-width: 1270px) {
  body {
    /* background: blue; */ }

  #navigation {
    height: auto; }

  .blog #hero aside {
    line-height: 1.1; }
    .blog #hero aside h2 {
      padding: 0px 0 0 0; }
  .blog #hero #wrapper-single, .blog #hero #wrapper-page, .blog #hero #wrapper-blog {
    width: 75%;
    float: left;
    margin-right: 5px; }
    .blog #hero #wrapper-single #body, .blog #hero #wrapper-single #blog, .blog #hero #wrapper-page #body, .blog #hero #wrapper-page #blog, .blog #hero #wrapper-blog #body, .blog #hero #wrapper-blog #blog {
      background: #fff;
      min-height: 400px;
      border-radius: 0 0 0px 7px; }
      .blog #hero #wrapper-single #body #single-header h1#title, .blog #hero #wrapper-single #body #blog-header h1#title, .blog #hero #wrapper-single #blog #single-header h1#title, .blog #hero #wrapper-single #blog #blog-header h1#title, .blog #hero #wrapper-page #body #single-header h1#title, .blog #hero #wrapper-page #body #blog-header h1#title, .blog #hero #wrapper-page #blog #single-header h1#title, .blog #hero #wrapper-page #blog #blog-header h1#title, .blog #hero #wrapper-blog #body #single-header h1#title, .blog #hero #wrapper-blog #body #blog-header h1#title, .blog #hero #wrapper-blog #blog #single-header h1#title, .blog #hero #wrapper-blog #blog #blog-header h1#title {
        color: #333333;
        font-size: 24pt;
        font-family: 'Open Sans Condensed', sans-serif;
        margin: 0 0 5px 0; }
      .blog #hero #wrapper-single #body #single-header #banner img, .blog #hero #wrapper-single #body #blog-header #banner img, .blog #hero #wrapper-single #blog #single-header #banner img, .blog #hero #wrapper-single #blog #blog-header #banner img, .blog #hero #wrapper-page #body #single-header #banner img, .blog #hero #wrapper-page #body #blog-header #banner img, .blog #hero #wrapper-page #blog #single-header #banner img, .blog #hero #wrapper-page #blog #blog-header #banner img, .blog #hero #wrapper-blog #body #single-header #banner img, .blog #hero #wrapper-blog #body #blog-header #banner img, .blog #hero #wrapper-blog #blog #single-header #banner img, .blog #hero #wrapper-blog #blog #blog-header #banner img {
        max-width: 100%; }
      .blog #hero #wrapper-single #body #single-header .meta, .blog #hero #wrapper-single #body #blog-header .meta, .blog #hero #wrapper-single #blog #single-header .meta, .blog #hero #wrapper-single #blog #blog-header .meta, .blog #hero #wrapper-page #body #single-header .meta, .blog #hero #wrapper-page #body #blog-header .meta, .blog #hero #wrapper-page #blog #single-header .meta, .blog #hero #wrapper-page #blog #blog-header .meta, .blog #hero #wrapper-blog #body #single-header .meta, .blog #hero #wrapper-blog #body #blog-header .meta, .blog #hero #wrapper-blog #blog #single-header .meta, .blog #hero #wrapper-blog #blog #blog-header .meta {
        border: 1px solid #000a10;
        color: #eee;
        margin: 15px 0 25px;
        padding: 3px 4px 1px;
        background: #012b42;
        height: 24px;
        overflow: hidden;
        max-width: 92%;
        line-height: 1.5; }
        .blog #hero #wrapper-single #body #single-header .meta a, .blog #hero #wrapper-single #body #blog-header .meta a, .blog #hero #wrapper-single #blog #single-header .meta a, .blog #hero #wrapper-single #blog #blog-header .meta a, .blog #hero #wrapper-page #body #single-header .meta a, .blog #hero #wrapper-page #body #blog-header .meta a, .blog #hero #wrapper-page #blog #single-header .meta a, .blog #hero #wrapper-page #blog #blog-header .meta a, .blog #hero #wrapper-blog #body #single-header .meta a, .blog #hero #wrapper-blog #body #blog-header .meta a, .blog #hero #wrapper-blog #blog #single-header .meta a, .blog #hero #wrapper-blog #blog #blog-header .meta a {
          color: #3789d8; }
        .blog #hero #wrapper-single #body #single-header .meta iframe, .blog #hero #wrapper-single #body #blog-header .meta iframe, .blog #hero #wrapper-single #blog #single-header .meta iframe, .blog #hero #wrapper-single #blog #blog-header .meta iframe, .blog #hero #wrapper-page #body #single-header .meta iframe, .blog #hero #wrapper-page #body #blog-header .meta iframe, .blog #hero #wrapper-page #blog #single-header .meta iframe, .blog #hero #wrapper-page #blog #blog-header .meta iframe, .blog #hero #wrapper-blog #body #single-header .meta iframe, .blog #hero #wrapper-blog #body #blog-header .meta iframe, .blog #hero #wrapper-blog #blog #single-header .meta iframe, .blog #hero #wrapper-blog #blog #blog-header .meta iframe {
          float: right;
          margin-top: 1px; }
          .blog #hero #wrapper-single #body #single-header .meta iframe #widget, .blog #hero #wrapper-single #body #blog-header .meta iframe #widget, .blog #hero #wrapper-single #blog #single-header .meta iframe #widget, .blog #hero #wrapper-single #blog #blog-header .meta iframe #widget, .blog #hero #wrapper-page #body #single-header .meta iframe #widget, .blog #hero #wrapper-page #body #blog-header .meta iframe #widget, .blog #hero #wrapper-page #blog #single-header .meta iframe #widget, .blog #hero #wrapper-page #blog #blog-header .meta iframe #widget, .blog #hero #wrapper-blog #body #single-header .meta iframe #widget, .blog #hero #wrapper-blog #body #blog-header .meta iframe #widget, .blog #hero #wrapper-blog #blog #single-header .meta iframe #widget, .blog #hero #wrapper-blog #blog #blog-header .meta iframe #widget {
            float: right; }
      .blog #hero #wrapper-single #body p, .blog #hero #wrapper-single #blog p, .blog #hero #wrapper-page #body p, .blog #hero #wrapper-page #blog p, .blog #hero #wrapper-blog #body p, .blog #hero #wrapper-blog #blog p {
        margin: 0 auto 15px; }
      .blog #hero #wrapper-single #body .content, .blog #hero #wrapper-single #blog .content, .blog #hero #wrapper-page #body .content, .blog #hero #wrapper-page #blog .content, .blog #hero #wrapper-blog #body .content, .blog #hero #wrapper-blog #blog .content {
        width: 95%;
        margin: 0 0 0 0; }
  .blog #hero #wrapper-single {
    padding: 0; }
  .blog #tweets div.left p {
    font-size: 16pt; }

  #wrapper-single #blog, #wrapper-page #blog, #wrapper-blog #blog {
    margin-left: 0;
    width: 100%; } }
@media all and (max-width: 1000px) {
  header {
    margin-bottom: 5px; }
    header h1 {
      float: none;
      width: 100%;
      margin-bottom: 10px; }
    header #navigation {
      width: 100%;
      float: left; }

  .blog #hero aside {
    line-height: 1.1; }
    .blog #hero aside h2 {
      padding: 0px 0 0 0; }
  .blog #hero #wrapper-single, .blog #hero #wrapper-page, .blog #hero #wrapper-blog {
    width: 75%;
    float: left;
    margin-right: 5px; }
    .blog #hero #wrapper-single #body, .blog #hero #wrapper-single #blog, .blog #hero #wrapper-page #body, .blog #hero #wrapper-page #blog, .blog #hero #wrapper-blog #body, .blog #hero #wrapper-blog #blog {
      background: #fff;
      min-height: 400px;
      border-radius: 0 0 0px 7px; }
      .blog #hero #wrapper-single #body #single-header h1#title, .blog #hero #wrapper-single #body #blog-header h1#title, .blog #hero #wrapper-single #blog #single-header h1#title, .blog #hero #wrapper-single #blog #blog-header h1#title, .blog #hero #wrapper-page #body #single-header h1#title, .blog #hero #wrapper-page #body #blog-header h1#title, .blog #hero #wrapper-page #blog #single-header h1#title, .blog #hero #wrapper-page #blog #blog-header h1#title, .blog #hero #wrapper-blog #body #single-header h1#title, .blog #hero #wrapper-blog #body #blog-header h1#title, .blog #hero #wrapper-blog #blog #single-header h1#title, .blog #hero #wrapper-blog #blog #blog-header h1#title {
        color: #333333;
        font-size: 24pt;
        font-family: 'Open Sans Condensed', sans-serif;
        margin: 0 0 5px 0; }
      .blog #hero #wrapper-single #body #single-header #banner img, .blog #hero #wrapper-single #body #blog-header #banner img, .blog #hero #wrapper-single #blog #single-header #banner img, .blog #hero #wrapper-single #blog #blog-header #banner img, .blog #hero #wrapper-page #body #single-header #banner img, .blog #hero #wrapper-page #body #blog-header #banner img, .blog #hero #wrapper-page #blog #single-header #banner img, .blog #hero #wrapper-page #blog #blog-header #banner img, .blog #hero #wrapper-blog #body #single-header #banner img, .blog #hero #wrapper-blog #body #blog-header #banner img, .blog #hero #wrapper-blog #blog #single-header #banner img, .blog #hero #wrapper-blog #blog #blog-header #banner img {
        max-width: 100%; }
      .blog #hero #wrapper-single #body #single-header .meta, .blog #hero #wrapper-single #body #blog-header .meta, .blog #hero #wrapper-single #blog #single-header .meta, .blog #hero #wrapper-single #blog #blog-header .meta, .blog #hero #wrapper-page #body #single-header .meta, .blog #hero #wrapper-page #body #blog-header .meta, .blog #hero #wrapper-page #blog #single-header .meta, .blog #hero #wrapper-page #blog #blog-header .meta, .blog #hero #wrapper-blog #body #single-header .meta, .blog #hero #wrapper-blog #body #blog-header .meta, .blog #hero #wrapper-blog #blog #single-header .meta, .blog #hero #wrapper-blog #blog #blog-header .meta {
        border: 1px solid #000a10;
        color: #eee;
        margin: 15px 0 25px;
        padding: 3px 4px 1px;
        background: #012b42;
        height: 24px;
        overflow: hidden;
        max-width: 92%;
        line-height: 1.5; }
        .blog #hero #wrapper-single #body #single-header .meta a, .blog #hero #wrapper-single #body #blog-header .meta a, .blog #hero #wrapper-single #blog #single-header .meta a, .blog #hero #wrapper-single #blog #blog-header .meta a, .blog #hero #wrapper-page #body #single-header .meta a, .blog #hero #wrapper-page #body #blog-header .meta a, .blog #hero #wrapper-page #blog #single-header .meta a, .blog #hero #wrapper-page #blog #blog-header .meta a, .blog #hero #wrapper-blog #body #single-header .meta a, .blog #hero #wrapper-blog #body #blog-header .meta a, .blog #hero #wrapper-blog #blog #single-header .meta a, .blog #hero #wrapper-blog #blog #blog-header .meta a {
          color: #3789d8; }
        .blog #hero #wrapper-single #body #single-header .meta iframe, .blog #hero #wrapper-single #body #blog-header .meta iframe, .blog #hero #wrapper-single #blog #single-header .meta iframe, .blog #hero #wrapper-single #blog #blog-header .meta iframe, .blog #hero #wrapper-page #body #single-header .meta iframe, .blog #hero #wrapper-page #body #blog-header .meta iframe, .blog #hero #wrapper-page #blog #single-header .meta iframe, .blog #hero #wrapper-page #blog #blog-header .meta iframe, .blog #hero #wrapper-blog #body #single-header .meta iframe, .blog #hero #wrapper-blog #body #blog-header .meta iframe, .blog #hero #wrapper-blog #blog #single-header .meta iframe, .blog #hero #wrapper-blog #blog #blog-header .meta iframe {
          float: right;
          margin-top: 1px; }
          .blog #hero #wrapper-single #body #single-header .meta iframe #widget, .blog #hero #wrapper-single #body #blog-header .meta iframe #widget, .blog #hero #wrapper-single #blog #single-header .meta iframe #widget, .blog #hero #wrapper-single #blog #blog-header .meta iframe #widget, .blog #hero #wrapper-page #body #single-header .meta iframe #widget, .blog #hero #wrapper-page #body #blog-header .meta iframe #widget, .blog #hero #wrapper-page #blog #single-header .meta iframe #widget, .blog #hero #wrapper-page #blog #blog-header .meta iframe #widget, .blog #hero #wrapper-blog #body #single-header .meta iframe #widget, .blog #hero #wrapper-blog #body #blog-header .meta iframe #widget, .blog #hero #wrapper-blog #blog #single-header .meta iframe #widget, .blog #hero #wrapper-blog #blog #blog-header .meta iframe #widget {
            float: right; }
      .blog #hero #wrapper-single #body p, .blog #hero #wrapper-single #blog p, .blog #hero #wrapper-page #body p, .blog #hero #wrapper-page #blog p, .blog #hero #wrapper-blog #body p, .blog #hero #wrapper-blog #blog p {
        margin: 0 auto 15px; }
      .blog #hero #wrapper-single #body .content, .blog #hero #wrapper-single #blog .content, .blog #hero #wrapper-page #body .content, .blog #hero #wrapper-page #blog .content, .blog #hero #wrapper-blog #body .content, .blog #hero #wrapper-blog #blog .content {
        width: 95%;
        margin: 0 0 0 0; }
  .blog #hero #wrapper-single {
    padding: 0; }
  .blog #tweets div.right p {
    font-size: 21pt;
    line-height: 1.2; }
  .blog #tweets div.left p {
    font-size: 16pt; }

  #wrapper-single, #wrapper-page, #wrapper-blog {
    float: none;
    width: 100%;
    border-radius: 0;
    margin: 0px auto 10px;
    padding-top: 64px; }
    #wrapper-single #blog, #wrapper-page #blog, #wrapper-blog #blog {
      width: 100%;
      margin: 0;
      border-radius: 0; }

  #sidebar {
    margin: 0 auto 10px;
    float: none;
    width: 100%;
    border-radius: 0; }

  #navigation-footer {
    width: 53%; } }
@media all and (max-width: 949px) {
  .blog #hero {
    height: auto; }
    .blog #hero aside {
      float: none;
      line-height: 1;
      width: 100%;
      height: 40px;
      padding: 25px 0; }
      .blog #hero aside h2 {
        padding: 0; }
    .blog #hero ul {
      width: 100%;
      height: auto;
      float: none; }
      .blog #hero ul li {
        width: 100%;
        height: 100px;
        float: none;
        display: block; }
        .blog #hero ul li:nth-child(1), .blog #hero ul li:nth-child(2), .blog #hero ul li:nth-child(3) {
          width: 100%; }
          .blog #hero ul li:nth-child(1) a, .blog #hero ul li:nth-child(2) a, .blog #hero ul li:nth-child(3) a {
            background-position: center 88%; }
        .blog #hero ul li a {
          line-height: 1.9; }

  .blog #tweets {
    height: auto; }
    .blog #tweets div.left, .blog #tweets div.right {
      box-sizing: border-box;
      padding: 12px 2%;
      width: 100%;
      margin: 0 auto 5px; }
    .blog #tweets div.left {
      padding-left: 30%; }
      .blog #tweets div.left p.headline {
        color: #fff;
        float: left;
        margin-right: 2%;
        font-size: 26pt;
        font-weight: bold;
        text-shadow: 0px 1px 1px #000; }
      .blog #tweets div.left p {
        line-height: 1.7;
        float: left;
        font-size: 26pt; }

  #wrapper-single, #wrapper-page, #wrapper-blog {
    float: none;
    width: 100%;
    border-radius: 0;
    margin: 0px auto 10px;
    padding-top: 118px; }
    #wrapper-single #blog, #wrapper-page #blog, #wrapper-blog #blog {
      width: 100%;
      margin: 0; } }
@media all and (max-width: 768px) {
  body {
    /* background: red; */ }

  #wrapper {
    position: relative; }

  .blog #tweets {
    height: auto;
    overflow: visible; }
    .blog #tweets div.left, .blog #tweets div.right {
      float: none;
      margin: 0 0 5px 0; }
    .blog #tweets div.left {
      box-sizing: border-box;
      padding: 9px 0 20px 40%;
      width: 100%; }

  #wrapper-home {
    width: 100%;
    margin: 0 0 5px 0; }
    #wrapper-home aside {
      width: 100%;
      float: none;
      overflow: hidden; }
      #wrapper-home aside ul li {
        margin: 0 1% 0 0;
        height: auto;
        width: 30%;
        float: left;
        text-align: center; }
        #wrapper-home aside ul li img {
          width: 100%;
          max-width: 100%; }
        #wrapper-home aside ul li:nth-child(2) {
          background: #FFF;
          padding: 65px 19px 42px; }
        #wrapper-home aside ul li:nth-child(3) {
          margin-right: 0; }
    #wrapper-home #blog-home {
      width: 100%;
      margin: 0 auto;
      float: none; } }
@media all and (max-width: 570px) {
  header #navigation > .menu {
    width: 100%; }
    header #navigation > .menu > li {
      border-top: 1px solid #559bde;
      border-bottom: 1px solid #013b5b; }
    header #navigation > .menu li {
      float: none;
      width: 98%;
      padding: 0 1%; }
      header #navigation > .menu li > a {
        font-size: 23pt; }
      header #navigation > .menu li:first-child {
        border-top: none; }
      header #navigation > .menu li:last-child {
        border-bottom: none; }
      header #navigation > .menu li.menu-parent-item a {
        float: left; }
      header #navigation > .menu li.menu-parent-item span {
        position: static;
        float: left;
        margin-top: 25px; }

  #wrapper-single, #wrapper-page, #wrapper-blog {
    padding-top: 169px; }

  #wrapper-home aside ul li {
    width: 100%;
    float: none;
    margin-bottom: 5px; }
    #wrapper-home aside ul li img {
      width: 100%; }

  .page-template-blog-php #wrapper-blog #blog .post .img {
    width: 32%;
    height: auto; }
  .page-template-blog-php #wrapper-blog #blog .post .content {
    width: 64%; }
  .page-template-blog-php #wrapper-blog #blog .post h1 {
    height: auto; } }
@media all and (max-width: 480px) {
  #wrapper-single, #wrapper-page, #wrapper-blog {
    padding-top: 166px; }

  header h1 {
    font-size: 18pt; }
  header #navigation > .menu li > a {
    font-size: 22pt; }

  .page-template-blog-php #wrapper-blog #blog article {
    margin: 0 auto 10px; }
  .page-template-blog-php #wrapper-blog #blog .post .img {
    width: 100%;
    float: none;
    height: auto;
    margin: 0 0 10px; }
  .page-template-blog-php #wrapper-blog #blog .post .content {
    width: 100%; }
  .page-template-blog-php #wrapper-blog #blog .post h1 {
    height: auto; } }
@media all and (max-width: 320px) {
  body {
    background: yellow; } }
