@import url('reset.css');
@import 'colors';
@import 'mixins';

$img-path: '../img/';



/*-- Globals --------------------------------------------------------------------------------*/
body { background-color: #111159; }
#wrapper { width: 100%; max-width: percentage(960px / 1275px); margin: 40px auto 7px; }
#navigation-footer {
	display: block;
	margin: 0 auto 40px;
	width: 50%;
	
	li {
		float: left;
		margin: 0 2% 0 0;
		a {
			color: $light-blue;
		}
	}
}
#body, #blog, #sidebar {
	padding: 23px 10px;
	box-sizing: border-box;
}
#sidebar {
	width: 24%;
	min-height: 400px;
	float: right;
	background: #fff;
	border-radius: 0 7px 7px 0;

	#search {

		#s, #submit {
			margin: 0;
			padding: 5px 2px;
			float: left;
			font-size: 10pt;
		}
		#s {
			width: 68%;
			border: 1px solid #999;
			margin-right: 5px;
		}
		#submit{
			width: 25%;
			padding: 5px 2px 6px;
			color: #fff;
			background-color: $dark-blue;
			border: 1px solid darken($dark-blue, 10%);
		}
	}
}

/*-- Header --------------------------------------------------------------------------------*/
header {
	//@include gradient($light-blue, $dark-blue);
	overflow: hidden;
	padding: 0;
	margin: 0 0 5px 0;

	h1 {
	font-size: 20pt;
	margin: 0 0 0 5px;
	color: #fff;
	width: 24%;
	float: right;
	}
}

/*-- Nav Menu --------------------------------------------------------------------------------*/
#navigation {
	width: 75%;
	margin: 0;
	height: 55px;
	float: left;
	background-color: $light-blue;
	border-top: 1px solid lighten($light-blue, 15%);
	border-bottom: 1px solid darken($dark-blue, 70%);

	#menu-primary-navigation-menu {
		//display: none;
		width: 77%;
		float: right;
		margin: 12px 0 15px;

		li {
			float: left;
			margin: 0 percentage(3px / 651px) 0 0;

			a {
				@include thin-font-headline(24pt, #fff);
				display: block;
				padding: 0;
				line-height: 1;
				margin: 0 25px 0 0;
				//background: $button-color;
				//@include border-radius(2px);
				//border: 1px solid $dark-blue;
				//@include text-shadow(0px, 1px, 1px, $dark-blue);
				//@include gradient(lighten($light-blue, 20%), lighten($dark-blue, 15%));
				
				&:hover {
					color: $hero-3;
					//@include gradient($light-blue, $dark-blue);
				}
			}
		}
	}
}

/*-- Home --*/
//change this later
.blog {
	
	#hero{
		height: 200px;
		margin: 0 0 5px 0;
		box-shadow: 1px 0px 3px darken($dark-blue, 70%);

		aside{
			position: relative;
			width: percentage(293px / 1276px);
			height: 140px;
			padding-top: 60px;
			float: left;
			text-align: center;
			line-height: 1;
			opacity: .9;
			background-color: rgba($hero-aside, 1);
			@include thin-font-headline(30pt, #fff);
			text-shadow: 1px 1px 1px #000;

			span { 
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		}
		& > ul{
			float: right; 
			width: 77%;
			height: 200px;

			li {
				float: left;
				height: 200px;
				position: relative;
				& > a {
					text-align: center;
					line-height: 4.1;
					display: block;
					z-index: 10;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					@include thin-font-headline(30pt, #fff);
				}
				p {
					position: relative;
					z-index: 9;
					margin: 7px 5px;

					a {
						color: #EEE;
						text-shadow: 1px 1px 1px #555;
						font-size: 12pt;
						line-height: 1.1;
						text-align: left;
						font-weight: bold;
						font-family: 'helvetica', 'arial', 'sans-serif';

						&:hover {
							color: #fff;
							text-shadow: 1px 1px 1px #000;
						}
					}
				}
				span {
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					height: 100%;
					width: 100%;
				}
			}
			& >li:nth-child(1){

				width: percentage(355px / 980px);
				@include img("hero.jpg", -297px 0px);

				& >  a{
					background-color: $hero-1;
					@include img('book.png', center 65%);
				}
				span{
					background-color: rgba($hero-1, .7);
				}
			}
			& >li:nth-child(2){
				width: percentage(311px / 980px);
				@include img("hero.jpg", -649px 0px);

				& > a{
					background-color: $hero-4;
				}
				span{
					background-color: rgba($hero-4, .7);
				}
			}
			& > li:nth-child(3){
				width: percentage(314px / 980px);
				@include img("hero.jpg", -960px 0px);

				& > a{
					background-color: $hero-3;
					@include img('musings.png', center 65%);
				}
				span{
					background-color: rgba($hero-3, .7);
				}
			}
		}
	}
	#tweets{
		margin: 0 0 5px 0;
		$tweet-border-size: 2px;
		height: 88px; 
		overflow: hidden;
		
		div {
			float: left;
			&.left {
				height: 88px;
				width: 11.2%;
				padding: 9px 0 20px percentage(115px / 960px);
				margin: 0;
				background-color: $twitter-cta;
				@include thin-font-headline(12pt, #fff);
				@include img('tweets-bg-white.png', 1% 3px);

				p {
					text-align: left;
					line-height: 1;
					font-size: 20pt;
					&.headline {
						font-size: 12pt;
						margin: 0;
						padding: 0;
					}
					a {
						color: #fff;
						&:hover{
							color: $hero-3;
						}
					}
				}
			}
			&.right {
				@include thin-font-headline(25pt, #fff);
				background-color: $tweet-blue;
				width: 71.7%;
				margin: 0 0 0 1%;
				height: 80px;
				padding: 5px 2%;

				p {
					line-height: 1;
				}
			}
		}
	}
}

/*-- Page Specific Styles ------------------------------------------------------------*/
@import 'home';
@import 'single';
@import 'blog';


/*-- Media Queries -------------------------------------------------------------------*/
@import 'media-queries'